.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
    gap: 50px;
}

.login-left {
    flex: 1;
    max-width: 400px;
}

.login-left h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0911ff9a;
}

.login-left p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-group input:focus {
    border-color: #0912ff;
    box-shadow: 0 0 3px rgba(9, 18, 255, 0.2);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    color: #666;
}

.login-btn {
    width: 100%;
    background-color: #0912ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0000cc;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.signup-link a {
    color: #0912ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.login-right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 500px;
    border-bottom-right-radius: 200px;
}

.login-right img {
    width: 100%;
    height: auto;

}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-right {
        display: none;
    }

    .login-left {
        width: 100%;
    }
}